.Shell {
  border: groove 1px #ffffff;
  float: left;
  margin: 20px 1px;
  width: 100%;
}
.chart-container{
  width: 100%;
  overflow-x: hidden;
}
.title{
  background-color: #52a4e0;
  padding: 10px;
  height: 35px;
}
#main, #huanbicontainer,#duibicontainer,#lighting,#air,#lift {
   width: 100%;
   height: 500px;
 }
.text1 {
  color: white;
}
.ztree {
  margin: 0 -10px;
  border: 1px solid #0e90c9;
  background: white;
  width: 210px;
  height: 360px;
  overflow-y: scroll;
  overflow-x: auto;
}
