<div class="col-lg-4 col-md-6 col-xs-12">
  <div class="widget widget-primary card" [style.background-color]="bgColor">
    <div class="widget-statistic-header">
      {{inputData.header}}
    </div>
    <div class="widget-statistic-body">
      <div class="widget-statistic-value" id="areaS">
        {{inputData.value.num}} <span> {{inputData.value.unit}}</span>
      </div>
      <div class="widget-statistic-description">
        {{inputData.description.des}} <strong>{{inputData.description.value}}</strong> {{inputData.description.unit}}
      </div>
    </div>
  </div>
</div>
