<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 reset-padding">
  <div class="widget widget-primary card-region">
    <div class="widget-statistic-header">
      {{inputData.name}}
    </div>
    <!--<table>-->
      <!--<tbody>-->
      <!--<tr>-->
        <!--<td width="30%">总量</td>-->
        <!--<td>{{inputData.energy}} kWh</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td width="30%">面积</td>-->
        <!--<td>{{inputData.area}} m<sup>2</sup></td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td width="30%">成本</td>-->
        <!--<td>{{inputData.cost}} 元</td>-->
      <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->
    <div>
      <div>
        <div class="col-xs-6 value">总量</div>
        <div class="col-xs-6 value">{{inputData.energy}} kWh</div>
      </div>
      <div>
        <div class="col-xs-6 value">面积</div>
        <div class="col-xs-6 value">{{inputData.area}} m<sup>2</sup></div>
      </div>
      <div>
        <div class="col-xs-6 value">成本</div>
        <div class="col-xs-6 value">{{inputData.cost}} 元</div>
      </div>
    </div>
  </div>
</div>

