<div class="query-div">
  <div class="col-lg-4 col-md-4 col-xs-12 query-part">
    <span class="title-region">区域 : </span>
    <nz-cascader
      nzChangeOnSelect
      [nzOptions]="regions"
      [(ngModel)]="values"
      nzPlaceHolder="默认总区域"
      (ngModelChange)="onChanges($event)">
    </nz-cascader>
  </div>
  <div class="col-lg-6 col-md-6 col-xs-12 query-part">
    <span class="title-time">时间 : </span>
    <nz-radio-group [(ngModel)]="time">
      <label nz-radio-button nzValue="date"><span>日</span></label>
      <label nz-radio-button nzValue="week"><span>周</span></label>
      <label nz-radio-button nzValue="month"><span>月</span></label>
      <label nz-radio-button nzValue="range"><span>自定义</span></label>
    </nz-radio-group>
    <div class="date-select">
      <nz-date-picker *ngIf="time==='date'" [(ngModel)]="date" (ngModelChange)="onChange($event)"  nzPlaceHolder="Select date"></nz-date-picker>
      <nz-month-picker *ngIf="time==='month'" [(ngModel)]="date" (ngModelChange)="onChange($event)" nzPlaceHolder="Select month"></nz-month-picker>
      <nz-range-picker *ngIf="time==='range'" [(ngModel)]="dateRange" (ngModelChange)="onChange($event)" ></nz-range-picker>
      <nz-week-picker *ngIf="time==='week'" [(ngModel)]="date" (ngModelChange)="getWeek($event)" nzPlaceHolder="Select week"></nz-week-picker>
  </div>
  </div>
  <div class="col-lg-2 col-md-2 col-xs-12 query-part search-btn-container">
    <!-- <button *ngIf="!hasServer" type="button" class="btn search-btn" style="float: right" (click)="onMockData()">Get Mock Data</button> -->
    <button type="button" class="btn-primary btn search-btn" style="float: right" (click)="onSearch()">查询</button>
  </div>
</div>

<div class="card-top">
  <app-card-small *ngFor="let ele of cardData; let i = index" [inputData]="ele" [bgColor]="cardStyle[i]"></app-card-small>
</div>
<!--real time energy monitor-->
<div class="col-sm-12 col-md-8 col-lg-8">
  <div  class="Shell">
    <div class="title"> 耗电实时监测</div>
    <!--<div echarts [options]="timeseriesLineOption"  class="echartsStyle"></div>-->
    <div id="timeseriesView_index" style="width:100%;height:400px">
      <div class="no-data" *ngIf="noTimeseriesData">No Data</div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-4 col-lg-4" >
  <div id="distributionView1" class="Shell">
    <div class="title"> 耗电时段分布</div>
    <div style=" height: 240px; margin: 0 auto;padding-top: 15px">
      <div class="no-data" *ngIf="noSolidGaugeData">No Data</div>
      <div id="solidgaugePeak_index" class="dash-board"></div>
      <div id="solidgaugeFlat_index" class="dash-board"></div>
      <div id="solidgaugeValley_index" class="dash-board"></div>
      <div id="solidgaugeCommon_index" class="dash-board"></div>
    </div>
  </div>
</div>
<!--child region energy brief-->
<div class="col-md-12">
  <div  class="Shell">
    <div class="title"> 用电量各系统分布</div>
    <div class="no-data" *ngIf="noSystemData">No Data</div>
    <div echarts [options]="systemPieOption"  class="echartsStyle" ></div>
  </div>
</div>
